<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfspd.myinfocredible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".update.ProfessionalUpdate"></activity>
        <activity android:name=".update.PersonalUpdate" />
        <activity android:name=".update.EducationUpdate" />
        <activity android:name=".profile.fragments.PersonalFragment" />
        <activity android:name=".profile.fragments.ProfessionalFragment" />
        <activity android:name=".profile.fragments.EducationFragment" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".signUp.EducationDetails" />
        <activity android:name=".signUp.ProfessionalDetails" />
        <activity
            android:name=".signUp.PersonalDetails" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>